.block {
  color: @block-color;
  margin-bottom: 10px;
  &:last-child {
    margin-bottom: 0px;
  }
  .label {
    display: block;
    padding: 3px 0px;
  }

  .focus {
    border-color: #66afe9 !important;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
  }

  .control {
    display: block;
    width: 100%;
    padding: 10px 6px;
    border: 1px solid @block-control-border;
    border-radius: @block-control-radius;
    &:focus {
      .focus;
    }
  }

  .button {
    width: 100%;
    display: block;
    padding: 10px 6px;
    color: #fff;
    border-radius: @block-control-radius;
    border: solid 1px @block-btn-backgroundColor;
    text-transform: uppercase;
    background-color: @block-btn-backgroundColor;

    &:focus {
      outline: none;
      cursor: pointer;
    }

    &:hover {
      color: #fff;
      background-color: @block-btn-backgroundColorHover;
      border-color: @block-btn-backgroundColorHover;
    }
  }

  .button__inline {
    color: @block-btn-backgroundColor;
    text-transform: uppercase;
    background-color: #fff;
    border: none;

    &:focus {
      outline: none;
      cursor: pointer;
    }

    &:hover {
      color: @block-btn-backgroundColorHover;
    }
  }
}
