@import 'variables';

.topBar {
  height: @top-bar-height;
  background-color: @top-bar-background;
  line-height: @top-bar-height;

  .topBar__title {
    color: #fff;
    font-size: 30px;
    text-transform: uppercase;
  }
}